.header{
  background-image:url("https://www.onlinestores.com/flagdetective/images/download/south-korea.jpg");
  text-align: center;
  padding:95px;
}
body{
  background: linear-gradient(to bottom, #33ccff 21%, #ff9966 77%);;
  font-family: papyrus, fantasy;
}
h1{
  text-align: center;
  font-size:
  color: rgb(255, 148, 77);
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
}

img{
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
